<nav id="navbar" [ngClass]="{'py-4': isScrolled}" class="navbar navbar-expand-md navbar-light sticky-top">
    <div class="container">
        <a class="navbar-brand text-white fs-2 fw-bold" routerLink="home">START FRAMWORK</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item me-3">
                    <a class="nav-link text-white fw-bold mt-3 mt-md-0 px-2" routerLink="about" routerLinkActive="activeColor rounded-2" >ABOUT</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link text-white fw-bold mt-3 mt-md-0 px-2" routerLink="portfolio" routerLinkActive="activeColor rounded-2">PORTFOLIO</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link text-white fw-bold mt-3 mt-md-0 px-2" routerLink="contact" routerLinkActive="activeColor rounded-2">CONTACT</a>
                </li>
                
            </ul>
            
        </div>
    </div>
</nav>
